S3method(coef,dosresmeta)
S3method(predict,dosresmeta)
S3method(print,dosresmeta)
S3method(print,summary.dosresmeta)
S3method(summary,dosresmeta)
S3method(vcov,dosresmeta)
export(coef.dosresmeta)
export(dosresmeta)
export(grl)
export(hamling)
export(predict.dosresmeta)
export(print.dosresmeta)
export(print.summary.dosresmeta)
export(summary.dosresmeta)
export(vcov.dosresmeta)
import(Matrix)
import(aod)
import(mvmeta)
